body {
        color: #3E3E3E;
        background-color: #FBFFFF;
		margin: 30px;
		font-family: Verdana;
}

		
.form	{
		display: block; 
		position: relative; 
		margin-left: auto; 
		margin-right: auto; 
		width: 700px;
	}
	
.textfield {
		width: 600px;
	}
	
	
.button {
		position: absolute;
		top: 10%;
		right: 10px;
		font-family: Verdana;
		font-weight: bold;
		background-color:#FBFFF; 
		border:1px solid; 
		border-color: #696 #363 #363 #696; 
	}
	
*:focus {
    outline: none;
}	


.metal {
    font-weight: 400;
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    padding: 0 0;
    line-height: $button-height;
    Xheight: $button-height;
    width: $button-height;
    text-align: center;
    border: none;
    background: #aaa;
    box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 4px,
      /* border */ inset hsla(0,0%,15%, .8) 0 -1px 5px 4px,
      /* soft SD */ inset hsla(0,0%,0%, .25) 0 -1px 0px 7px,
      /* bottom SD */ inset hsla(0,0%,100%,.7) 0 2px 1px 7px,
      /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 4px,
      /* outer SD */ hsla(0,0%,100%,.5) 0 5px 6px 4px;
  }
  


