body {
        color: #3E3E3E;
        background-color: #FBFFFF;
		margin: 30px;
		font-family: Verdana;
}

		
.form	{
		display: block; 
		position: relative; 
		margin-left: auto; 
		margin-right: auto; 
		width: 700px;
	}
	
.textfield {
		width: 600px;
	}
	
	
.button {
		position: absolute;
		top: 10%;
		right: 10px;
		font-family: Verdana;
		font-weight: bold;
		background-color:#FBFFF; 
		border:1px solid; 
		border-color: #696 #363 #363 #696; 
	}
	
*:focus {
    outline: none;
}	

.Demo rect { fill: #57C7B6; }

.Demo g polygon { opacity: 1; }

.Demo circle {
  fill: #256058;
  stroke: #57C7B6;
  stroke-width: 2;
  filter: url(#dropshadow);
}

.Demo text {
  font-size: 10px;
  fill: #57C7B6;
  font-family: sans-serif;
  font-weight: 300;
  -webkit-transition: all .1s ease-in-out;
}

.Demo text.active {
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
}	

        
